/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

@font-face {
    font-family: 'bpicons';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/bpicons/bpicons.eot');
    src: url('./fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
        url('./fonts/bpicons/bpicons.woff') format('woff'),
        url('./fonts/bpicons/bpicons.ttf') format('truetype'),
        url('./fonts/bpicons/bpicons.svg#bpicons') format('svg');
}

* ::-webkit-scrollbar {
    width: 10px;
}

* ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}

* ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

/* Made with http://icomoon.io/ */

/* Resets */
*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body,
html {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

/* Helper classes */
.cf:before,
.cf:after {
    content: ' ';
    display: table;
}

.cf:after {
    clear: both;
}

.hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* Main styles */
body {
    font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    color: #CECECE;
    background: #2A2B30;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #f0f0f0;
    outline: none;
}

a:hover {
    color: #5C5EDC;
}

/* Blueprint header */
.bp-header {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 4em 1.875em 1.875em;
    text-align: center;
}

.bp-header h1 {
    font-size: 2.125em;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 .6em 0;
}

.bp-header h1>span {
    font-size: 50%;
    display: block;
    color: #4D4D5A;
}

.bp-header>span {
    font-weight: 700;
    font-size: 0.85em;
    color: #5C5EDC;
    position: relative;
    z-index: 100;
    display: block;
    padding: 0 0 .6em .1em;
    letter-spacing: .5em;
    text-transform: uppercase;
    text-indent: 30px;
}

.bp-header>span span:after {
    font-size: 50%;
    font-size: 75%;
    position: relative;
    top: -8px;
    left: -12px;
    width: 30px;
    height: 30px;
}

.bp-header>span span:hover:before {
    content: attr(data-content);
    font-size: 110%;
    font-weight: 700;
    line-height: 1.2;
    position: absolute;
    left: auto;
    margin-left: 4px;
    padding: .8em 1em;
    text-align: left;
    text-indent: 0;
    letter-spacing: 0;
    text-transform: none;
    color: #fff;
    background: #5C5EDC;
}

.bp-header nav {
    text-align: center;
    margin: 0 auto;
}

.bp-header nav a {
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    margin: 0 .1em;
    text-align: left;
    border-radius: 50%;
}

.bp-header nav a>span {
    display: none;
}

.bp-header nav a:hover:before {
    content: attr(data-info);
    color: #595A5F;
    font-weight: bold;
    font-size: 0.85em;
    position: absolute;
    top: 120%;
    right: 0;
    width: 600%;
    text-align: right;
    pointer-events: none;
}

.bp-header nav a:hover {
    background: #5C5EDC;
}

.bp-icon:after {
    font-family: 'bpicons';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    text-transform: none;
    color: #5C5EDC;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.bp-header nav .bp-icon:after {
    line-height: 2.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: 0;
}

.bp-header nav a:hover:after {
    color: #fff;
}

.bp-icon-next:after {
    content: '\e000';
}

.bp-icon-drop:after {
    content: '\e001';
}

.bp-icon-archive:after {
    content: '\e002';
}

.bp-icon-about:after {
    content: '\e003';
}

.bp-icon-prev:after {
    content: '\e004';
}

/** Product grid **/
.view {
    padding-bottom: 80px;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.grid {
    position: relative;
    overflow: hidden;
    max-width: 1300px;
    margin: 0 auto;
    padding: 1.5em 0 8em;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

/* Loader */
.grid__loader {
    display: none;
    margin: 3em auto 0;
}

.grid--loading .grid__loader {
    display: block;
}

/* Clearfix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* Grid items */

.grid__sizer,
.grid__item {
    position: relative;
    float: left;
    width: 20%;
    padding: .75em;
}

.no-touch .grid__sizer,
.no-touch .grid__item {
    padding: .75em .75em 1.25em;
}

.grid--loading .grid__item {
    visibility: hidden;
}

.grid__item--size-a {
    width: 40%;
}

/* Gallery */

.slider {
    padding: 0;
    border-radius: 5px;
    background: #24252a;
}

.no-touch .slider {
    padding: 0 0 1.25em;
}

.slider__item {
    width: 100%;
    padding: 1em;
}

.slider__item img {
    width: 100%;
}

/* Swiper page dots */

.slider .swiper-pagination {
    bottom: 20px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.no-touch .slider:hover .swiper-pagination {
    opacity: 1;
}

.slider .swiper-pagination .swiper-pagination-bullet {
    background: #131417;
}

/* Product meta */

.meta {
    position: relative;
    margin: 10px 0 0;
    padding: 0 60px 0 0;
    text-align: left;
}

.meta__brand {
    font-size: .85em;
    font-weight: bold;
    display: block;
    color: #595b64;
}

.meta__title {
    font-size: .95em;
    font-weight: bold;
    margin: 0;
    padding: .4em 0 .1em;
}

.meta__price {
    font-size: .95em;
    font-weight: bold;
    position: absolute;
    top: .45em;
    right: .25em;
    color: #595b64;
}

.product--selected {
    box-shadow: 0 0 0 2px #5C5EDC;
}

/* Action style */

.action {
    font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 1.05em;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: .25em;
    cursor: pointer;
    color: #fff;
    border: none;
    background: none;
}

.action:focus {
    outline: none;
}

.action--button {
    color: #fff;
    border-radius: 2px;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    z-index: 1;
}

.no-touch .action--button:hover {
    color: #5c5edc;
    outline: none;
}

.text-hidden {
    position: absolute;
    top: 200%;
}

.action__text {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: .813em;
    vertical-align: middle;
    display: inline-block;
}

.action__text--invisible {
    position: absolute;
    top: 10px;
    left: 40px;
    opacity: 0;
    pointer-events: none;
}

.action--button i+span {
    margin-left: 1em;
}

/* Add to cart button */

.action--buy {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.85em 2.35em;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
}

.no-touch .action--buy,
.no-touch .action--zoom,
.no-touch .action--compare-add {
    opacity: 0;
}

.no-touch .grid__item:hover .action--buy,
.no-touch .grid__item:hover .action--zoom,
.no-touch .grid__item:hover .action--compare-add {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.action--close {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    font-size: 1.5em;
    color: #ddd;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s, background 0.2s;
    transition: opacity 0.3s, background 0.2s;
}

.view--compare+.compare .action--close {
    pointer-events: auto;
    opacity: 1;
    -webkit-transition-delay: 0.4s, 0s;
    transition-delay: 0.4s, 0s;
}

.action--close:hover,
.action--close:focus {
    color: #797BED;
}

.action--compare {
    margin: 0 0 0 4px;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    background-color: #34363D;
    color: #565B6C;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.compare-basket img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.compare-basket--active .action--compare {
    opacity: 1;
}

.compare-basket--active .action--compare:nth-child(3),
.compare-basket--active .action--compare:nth-child(4) {
    background-color: #494BC7;
    color: #fff;
    pointer-events: auto;
    cursor: pointer;
}

.action--remove {
    position: absolute;
    overflow: hidden;
    color: #ddd;
    top: 0px;
    right: 2px;
    padding: 0;
    font-size: 0.65em;
}

.action--compare-add {
    color: #ddd;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
}

.action--compare-add:hover .action__text--invisible {
    opacity: 0;
    top: 10px;
    left: 40px;
    color: #ddd;
    font-size: 75%;
    letter-spacing: 0;
    background: #2F3035;
    border-radius: 2px;
    padding: 3px 5px;
}

.action--remove:hover,
.action--compare-add:hover {
    color: #5C5EDC;
}

.action--compare-add .fa-check,
.action--compare-add input[type=checkbox]:checked~.fa-plus {
    display: none;
}

.action--compare-add input[type=checkbox]:checked~.fa-check {
    display: block;
    color: #5C5EDC;
}

.check-hidden {
    position: absolute;
    opacity: 0;
}

.compare-basket {
    width: 100%;
    padding: 0.75em;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    background: #212227;
    z-index: 1000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.3, 1);
}

.compare-basket--active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.flexbox .compare-basket {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.product-icon {
    display: inline-block;
    vertical-align: middle;
    background: #42444F;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 0 3px;
    border-radius: 2px;
    position: relative;
}

.product-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
    z-index: -1;
    box-shadow: -56px 0 #2C2D34;
}

.compare-basket--full .product-icon::after {
    display: none;
}

.flexbox .product-icon {
    display: block;
}

/* comparison overlay */
.compare {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1001;
    -webkit-transition: height 0s 0.4s;
    transition: height 0s 0.4s;
}

.flexbox .compare {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.view--compare+.compare {
    pointer-events: auto;
    height: 100%;
    -webkit-transition: none;
    transition: none;
}

.compare::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.view--compare+.compare::before {
    opacity: 1;
}

.compare__item {
    height: 100%;
    width: 50%;
    background: #24252A;
    text-align: center;
    cursor: default;
    padding: 2em 0;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.no-flexbox .compare__item {
    display: inline-block;
    width: 50%;
}

.compare__item:nth-of-type(2) {
    background: #212227;
}

.compare__item .meta__title {
    margin: 1em 0;
    min-height: 0;
}

.compare__item .meta__price {
    color: #CECECE;
}

.compare__item span[class^="meta__"] {
    display: block;
    padding: 0.85em 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.compare__item span[class^="meta__"].hover {
    background: #000;
}

/* three items */
.compare__item:first-of-type:nth-last-of-type(3),
.compare__item:first-of-type:nth-last-of-type(3)~.compare__item {
    width: 33.3333%;
}

.flexbox .compare__item {
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

.compare__item:nth-child(odd) {
    -webkit-transform: translate3d(0, -100vh, 0);
    transform: translate3d(0, -100vh, 0);
}

.compare__item:nth-child(even) {
    -webkit-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0);
}

.view--compare+.compare .compare__item:nth-child(odd),
.view--compare+.compare .compare__item:nth-child(even) {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.compare__effect {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.2, 1, 0.3, 1), opacity 1s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 1s cubic-bezier(0.2, 1, 0.3, 1), opacity 1s cubic-bezier(0.2, 1, 0.3, 1);
}

.compare__item:nth-child(odd) .compare__effect {
    -webkit-transform: translate3d(0, -250px, 0);
    transform: translate3d(0, -250px, 0);
}

.compare__item:nth-child(even) .compare__effect {
    -webkit-transform: translate3d(0, 250px, 0);
    transform: translate3d(0, 250px, 0);
}

.view--compare+.compare .compare__item:nth-child(odd) .compare__effect,
.view--compare+.compare .compare__item:nth-child(even) .compare__effect {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

/** Bottom Bar **/
.bar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.75em 5em;
    text-align: center;
    background: #191a1b;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    /* Fix for Chrome flicker on Mac ...party like we're in 2012! */
}

.flexbox .filter {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/* Filter */

.filter__label {
    font-size: .85em;
    display: inline-block;
    margin: 0 2%;
    font-weight: bold;
    color: #393A3F;
}

.filter__item {
    font-weight: bold;
    margin: 0 2%;
    padding: .1em;
    vertical-align: middle;
    color: #a3a3b3;
    border-bottom: 2px solid transparent;
}

.filter__item--selected {
    color: #5c5edc;
    border-color: #5c5edc;
}

.filter__item .icon {
    font-size: 1.75em;
    display: none;
}

/* Shopping cart */

.cart {
    font-size: 1.5em;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    padding: 0 1.195em;
    cursor: pointer;
    color: #abacae;
    border: none;
    background-color: #131415;
}

.no-touch .cart:focus,
.no-touch .cart:hover {
    color: #fff;
    outline: none;
}

.cart--animate .cart__icon {
    -webkit-animation: cartAnim .4s forwards;
    animation: cartAnim .4s forwards;
}

@-webkit-keyframes cartAnim {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(50px, 0, 0);
        transform: translate3d(50px, 0, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(-50px, 0, 0);
        transform: translate3d(-50px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes cartAnim {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(50px, 0, 0);
        transform: translate3d(50px, 0, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(-50px, 0, 0);
        transform: translate3d(-50px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.cart__count {
    font-size: 9px;
    font-weight: bold;
    line-height: 15px;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 15px;
    height: 15px;
    margin: -16px 0 0 0;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: #5c5edc;
}

.cart--animate .cart__count {
    -webkit-animation: countAnim .4s forwards;
    animation: countAnim .4s forwards;
}

@-webkit-keyframes countAnim {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, -80px, 0);
        transform: translate3d(0, -80px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes countAnim {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, -80px, 0);
        transform: translate3d(0, -80px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@media screen and (max-width: 40em) {
    .bp-header h1 {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 65em) {

    .grid__sizer,
    .grid__item,
    .grid__item--size-a {
        width: 33.333%;
    }
}

@media screen and (max-width: 50em) {

    .grid__sizer,
    .grid__item,
    .grid__item--size-a {
        width: 50%;
    }

    .bar {
        padding-left: 0;
        text-align: left;
    }
}

@media screen and (max-width: 40em) {
    .bar {
        padding: .5em 4.5em .5em 0;
    }

    .flexbox .filter {
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }

    .filter__item {
        height: 100%;
        padding: .5em .1em;
        border: none;
    }

    .filter__item .icon {
        display: inline-block;
    }

    .filter__label,
    .action__text {
        display: none;
    }

    .cart {
        padding: 0 1em;
    }
}

@media screen and (max-width: 25em) {
    .grid {
        max-width: 75%;
    }

    .grid__loader {
        margin: 0 auto;
    }

    .grid__sizer,
    .grid__item,
    .grid__item--size-a {
        width: 100%;
    }

    .action--buy {
        font-size: 1.5em;
        padding: 1.15em 1.5em;
        -webkit-tap-highlight-color: transparent;
    }
}

@media screen and (min-width: 59.688em) {
    .flexbox .compare__effect {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .flexbox .compare__item img {
        -webkit-align-self: center;
        -ms-flex-align: center;
        align-self: center;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }
}

@media screen and (max-width: 59.688em) {
    .flexbox .compare {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .no-flexbox .compare__item,
    .compare__item,
    .compare__item:first-of-type:nth-last-of-type(3),
    .compare__item:first-of-type:nth-last-of-type(3)~.compare__item {
        width: 100%;
    }

    .compare__item {
        text-align: left;
        padding: 1.5em;
        font-size: 90%;
    }

    .compare__item img {
        height: 40px;
        float: left;
    }

    .compare__item .meta__title {
        margin: 0 40px 0 43px;
        font-size: 0.85em;
        display: block;
    }

    .compare__item .meta__year {
        border-bottom: 2px solid #2E294E;
    }

    .compare__item .meta__region {
        border-bottom: 2px solid #6D6FD2;
    }

    .compare__item .meta__varietal {
        border-bottom: 2px solid #4B5267;
    }

    .compare__item .meta__alcohol {
        border-bottom: 2px solid #3C3474;
    }

    .action--close {
        padding: 0.5em 0.75em;
    }

    .compare__item .action--buy {
        margin: 0;
        display: block;
    }

    .compare__item span[class^="meta__"] {
        display: inline-block;
        padding: 0.25em;
        margin: 0 0 0.5em 0;
        font-size: 0.85em;
    }

    .compare__item:nth-child(odd) {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    .compare__item:nth-child(even) {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    .compare__item:nth-child(odd) .compare__effect {
        -webkit-transform: translate3d(-250px, 0, 0);
        transform: translate3d(-250px, 0, 0);
    }

    .compare__item:nth-child(even) .compare__effect {
        -webkit-transform: translate3d(250px, 0, 0);
        transform: translate3d(250px, 0, 0);
    }
}